__pycache__/
bin/
include/
lib/
share/
pyvenv.cfg
*.JPG
lib64
Scripts
credentials.py
*.pyc
test.json
instance/
.webassets-cache
__pycache__/credentials.cpython-310.pyc
flickr_api/__pycache__/__init__.cpython-310.pyc