img {
    /* width: 300px;
    height: 200px; */
    max-width: 400px;
    margin: 10px;
    object-fit: cover;
    object-position: bottom;
    transition: 0.5s;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.photo-container {
    justify-content: center;
    display: flex;
    /* max-width: 1200px; */
    width: 100%;
    flex-wrap: wrap;
    background-color: black;
}