{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %}

<div class="back-black">
    <div class="container">
        <div class="row">
            <div class="col txt-center">
                <h1 class="mx-auto my-5">Inconformados</h1>
            </div>
        </div>
    </div>
    
    <div class="photo-container">
        {% for photo in photos %}
            <img class="gallery-item img-home" src="{{ photo['url'] }}">
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>

{% endblock %}